.container {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  background: black;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
}

.rotated {
  transform: rotate(180deg);
}

.turnedLeft {
  transform: translateX(80);
  text-wrap: nowrap;
  white-space:nowrap;
}
.turnedRight {
  transform: rotate(270deg);
}

.fab-button {
  height: 70;
  width: 70; 
  margin: -32 -118;
  background-color: black;
  horizontal-align: left;
  vertical-align: top;
  z-index: 1;

  &.two-player {
    height: 70;
    width: 70; /// this is required on iOS - Android does not require width so you might need to adjust styles
    margin: -35 80;
    background-color: black;
    horizontal-align: left;
    vertical-align: bottom;
    &.settings {
      margin: -35 170;
      horizontal-align: center;
    }
    
    &.reset {
      margin: -35 80;
      horizontal-align: right;      
    }
    
    &.one {
      margin: 120 35;
    }
  
    &.two {
      margin: 120 115;
    }
  
    &.three {
      margin: 40 35;
    }
  
    &.four {
      margin: 40 115;
    }
  }
  
  &.settings {
    margin: -32 -32;
  }
  
  &.reset {
    margin: -32 50;
  }
  
  &.one {
    margin: -110 -200;
  }

  &.two {
    margin: -110 -120;
  }

  &.three {
    margin: -110 -40;
  }

  &.four {
    margin: -110 40;
  }
}

.cmd-dmg {
  horizontal-align: left;
  vertical-align: center;
  font-size: 100;
  color: white;
  font-weight: 300;
}

.cmd-subtract {
    horizontal-align: center;
    vertical-align: bottom;
  }

.cmd-add {
  horizontal-align: center;
  vertical-align: bottom;
}

Button {
  border-color: transparent;
  border-width: 1;
  z-index: 0;
  font-size: 50;
}

Button:pressed {
  background-color: rgba(0,0,0,0.1);
}

.life-wrapper {
  color: white;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  borderRadius:10;
}

.tablet .life-text {
  horizontal-align: left;
  vertical-align: bottom;
  text-align: center;
  font-size: 170;
  color: white;
  font-family: 'Nunito-Bold';
}

.phone .life-text {
  horizontal-align: left;
  vertical-align: center;
  font-size: 80;
  color: white;
  font-family: 'Nunito-Bold';
}

.tablet .name-text {
  horizontal-align: left;
  vertical-align: center;
  font-size: 24;
  font-weight: 600;
  font-family: 'Nunito-Light';
}

.phone .name-text {
  horizontal-align: left;
  vertical-align: center;
  font-size: 18;
  font-weight: 600;
  font-family: 'Nunito-Light';
}

.subtract {
    horizontal-align: left;
    vertical-align: center;
  }

.add {
  horizontal-align: right;
  vertical-align: center;
}

Button {
  border-color: transparent;
  border-width: 1;
  z-index: 0;
  font-size: 50;
}

Button:pressed {
  background-color: rgba(0,0,0,0.1);
}

.cmd-text {
  horizontal-align: left;
  vertical-align: top;
  font-size: 100;
  color: white;
}

.cmd-logo {
  horizontal-align: left;
  vertical-align: center;
}

.cmd-add {
  horizontal-align: left;
  vertical-align: center;
}

.cmd-subtract {
  horizontal-align: right;
  vertical-align: bottom;
}

.color {
  margin: 10;
  z-index: 5;
}

.player-panel {
  border-width: 3;
  border-color: black;
  border-radius: 20;
}

.border-radius {
  border-radius: 20;  
}

.tablet {
  .small {
    .life-text {
      font-size: 170;
      color: white;
    }
  }
  .large {
    .life-text {
      font-size: 250;
      color: white;
    }
    .cmd-text {
      font-size: 150;
    }
  }
}